body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #B8B9BD;
  background-color: #121723;
  height: 100vh;
  width: 99vw;
  overflow-x: clip;
  overflow-y: scroll;
}

.App {
  height: 100%;
  width: 100%;
}

header {
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #E3E3E5;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-top: 20px;
}

h1 {
  font-size: 2.5rem;
}
#about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr ;
  grid-gap: 25px;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 60px 30px;

}

.grid-item {
  text-align: left;
}

.btn-gray {
  background-color: #363A44;
  border-radius: 5px;
  color: #E3E3E5;
  display: inline-block;
  font-size: 1.2rem;
  margin: 5px 5px 5px -1px;
  padding: 20px 20px;
  text-decoration: none;
  width: 30%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}
.btn-gray:hover {
  background-color: #1E60FF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
}

/* tablet */
@media (max-width: 1330px) {
  .btn-gray {
    background-color: #363A44;
    border-radius: 5px;
    color: #E3E3E5;
    display: inline-block;
    font-size: 1.2rem;
    margin: 5px 5px 5px -1px;
    padding: 20px 20px;
    text-decoration: none;
    width: 90%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  }
}
/* mobile */
@media (max-width: 576px) {
  .btn-gray {
    background-color: #363A44;
    border-radius: 5px;
    color: #E3E3E5;
    display: inline-block;
    font-size: 1.2rem;
    margin: 5px 5px 5px -1px;
    padding: 20px 20px;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  }
}

.btn-lime {
  background-color: #2cae46;
  border-radius: 5px;
  color: #E3E3E5;
  display: inline-block;
  font-size: 1.2rem;
  margin: 5px 5px 5px -1px;
  padding: 20px 20px;
  text-decoration: none;
  width: 30%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}
.btn-lime:hover {
  background-color: #1E60FF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
}
/* tablet */
@media (max-width: 1330px) {
  .btn-lime {
    background-color: #2cae46;
    border-radius: 5px;
    color: #E3E3E5;
    display: inline-block;
    font-size: 1.2rem;
    margin: 5px 5px 5px -1px;
    padding: 20px 20px;
    text-decoration: none;
    width: 90%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  }
}
/* mobile */
@media (max-width: 576px) {
  .btn-lime {
    background-color: #2cae46;
    border-radius: 5px;
    color: #E3E3E5;
    display: inline-block;
    font-size: 1.2rem;
    margin: 5px 5px 5px -1px;
    padding: 20px 20px;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  }
}

.grid-item-circle {
  border-radius: 50%;
  height: 300px;
  overflow: hidden;
  width: 300px;
}
/* mobile */
@media (max-width: 576px) {
  .grid-item-circle {
    border-radius: 50%;
    height: 200px;
    overflow: hidden;
    width: 200px;
  }
}

.grid-item-circle img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.base-header {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #E3E3E5;
}
/* Projects  CSS*/
.projects {
  padding: 100px 0;
  background-color: #121723;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  text-align: center;
}
.projects-icon {
  border-radius: 50%;
  height: 100px;
  overflow: hidden;
  width: 100px;
}

.projects-header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
  color: #E3E3E5;
}

.projects-description {
  text-align: center;
  margin-bottom: 50px;
  color: #B8B9BD;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* change this to make project cards larger */
  grid-gap: 25px;
}

.project-card {
  position: relative;
  border-radius: 5px;
}

.project-card img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.project-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.project-card:hover .overlay {
  opacity: 1;
}

.project-card .overlay-content {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #E3E3E5;
}

.project-card .overlay-button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2cae46;
  font-size: 1rem;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  color: #E3E3E5;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);

}
.overlay-button:hover {
  background-color: #1E60FF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
}

/*Navbar CSS*/
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #0D111A;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding-right: 30px;
  border-bottom: 1px solid #000;
  z-index: 10;
}

.navbar-header {
  padding: 4px 4px 4px 8px;
  display: flex;
  align-items: center;
}

.navbar-header-text {
  font-size: 24px;
  color: #E3E3E5;
  margin-right: 10px;
}

.navbar-header-text-mobile {
  font-size: 20px;
  color: #E3E3E5;
  padding: 20px;
}

.navbar-divider {
  width: 2px;
  height: 100%;
  background-color: #000;
  margin-right: 10px;
}

.navbar-links {
  display: flex;
  text-align: left;
}

.navbar-link {
  font-size: 18px;
  color: #B8B9BD;
  text-decoration: none;
  margin-right: 20px;
  padding: 8px 12px;
}

.navbar-link.active {
  border-bottom: 5px solid #B8B9BD;
  padding-bottom: 6px; /* Increase the padding on the bottom to make room for the wider border */
  margin-bottom: -2px; /* Add a negative margin to the bottom border to make it slightly wider */
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #10161d;
  z-index: 100;
}

.hamburger-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px;
  position: relative;
}

.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
  background-color: #E3E3E5;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 24px;
}

.hamburger-icon {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hamburger-icon::before {
  top: -8px;
}

.hamburger-icon::after {
  bottom: -8px;
}

.side-nav {
  background-color: #10161d;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  width: 250px;
  z-index: 1;
}

.side-nav.open {
  transform: translateX(0);
}

.side-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.side-nav li {
  margin-top: 5px;
  padding: 20px;
}

.side-nav li a {
  color: #E3E3E5;
  display: block;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.side-nav li a:hover {
  color: #1E60FF;
}

@media all and (min-width: 576px) {
  .desktopNav {display:block;}
  .mobileNav {display:none;}
}

@media all and (max-width: 576px) {
  .desktopNav {display:none;}
  .mobileNav {display:block;}
}
/* form css */
.contact-form-container {
  max-width: 100%;
  justify-content: center;

}

form {
  background-color: #0D111A;
  padding: 20px;
  border-radius: 5px;
  border: 6px black;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'],
textarea {
  width: 100%;
  display: inline-flex;
  word-wrap: break-word;
  height: fit-content;
  hyphens: manual;
  overflow-wrap: break-word;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  color: #E3E3E5;
  border-bottom: 2px solid #B8B9BD;
  background-color: transparent;
}

input[type='text']:focus,
textarea:focus {
  border-bottom: 2px solid #121723;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

button[type='submit'] {
  background-color: #05070C;
  color: #E3E3E5;
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}
button[type='submit']:hover {
  background-color: #1E60FF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
}
/* Skills CSS */
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.skill-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-bottom: 10px;
}

.skill-name {
  font-size: 18px;
  margin-right: 20px;
}

.skill-rating {
  display: flex;
}

.star-icon {
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: #2cae46;
  margin-right: 5px;

}
.star-icon.filled {
  filter: brightness(0) invert(1);
}

.star-icon.empty {
  color: transparent;
}
.socials-header {
  text-align: center;
}
/* Socials CSS */
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
}
/* mobile */
@media (max-width: 576px) {
  .socials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
    grid-gap: 25px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
}

.socials a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin: 0 10px;

  background-color: #10161d;
  border-radius: 25%;
  text-decoration: none;
}

.socials a:hover {
  background-color: #70ad70;
  color: #10161d;
}

.socials i {
  font-size: 20px;
}
